/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  /*background-color: #eee;*/
  color: #444;
  cursor: pointer;
  padding: 10px;

  max-width: 300px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #cccccc;
}

/* Style the accordion panel. Note: hidden by default */
.courses {
  padding: 0 18px;
  background-color: rgb(255, 255, 255);
  display: none;
  overflow: hidden;
}