body {
	padding: 40px 40px 0; /* top | horizontal | bottom */
	/*background-color: #f0efeb;*/
}

h3 {
	padding-top: 10px;
}

.center-txt {
	text-align: center;
}

.center-elt {
	margin: auto;
}

.sansserif {
	font-family: 'Montserrat', sans-serif;
}

.monospace {
	font-family: 'Cutive Mono', monospace;
}

.content {
	max-width: 600px;
	margin: auto;
	/*padding-top: 30px;*/
}

.content-break {
	max-width: 450px;
}

footer {
	display: block;
	text-align: center;
	padding-top: 30px;
}

nav {
    font-size: 13px;
}

ul.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

ul.nav li{
    display:inline-block;
}

ul.nav a{
    display:inline-block;
    padding:10px;
}


li.nav a.nav {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #a8a8a8;
}

li.nav a.nav:hover {
  background-color: #111;
}

li.nav a.active {
  background-color: #111;
}
